# Ignore Following Folders
Airfoil_DataBase
AVL
Project
Scripts
Test

# Ignore Exe File
*.exe

# Ignore Matlab Extensions
*.asv

# Ignore Airfoil Files
*.dat

# Ignore Generated Data
*.avl
*.run
*.err
*.res
*.inp